[submodule "tv80_official"]
	path = tv80_official
	url = https://github.com/hutch31/tv80.git
[submodule "z8000_micro"]
	path = z8000_micro
	url = git@github.com:tpaxia/z8000_micro.git
[submodule "z8000_emu"]
	path = z8000_emu
	url = https://github.com/tpaxia/z8000_emu.git
